.container {
    background-color: aquamarine;
}

.content {
    max-width: 500px;
}

.avatar {
    width: 256px;
    border-radius: 10%;
    box-shadow: 10px 10px 0px 0px;
    margin-bottom: 24px;
}

.name{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

body{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}